<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lobbyin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lobbyin">

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Activity lain menggunakan tema default (Terang) -->
        <activity android:name=".activity.BookingActivity" />
        <activity android:name=".activity.ClassListActivity" />
        <activity android:name=".activity.DatePickerActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.TimeSelectionActivity" />
        <activity android:name=".activity.AdminRoomActivity" />

        <!-- Login & Register menggunakan tema Auth (Gelap/Moon Theme) -->
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.Lobbyin.Auth"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.Lobbyin.Auth" />

    </application>

</manifest>
